* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  background: rgba(255, 183, 0, 0.678);
  height: 80px;
  width: 100%;
}
label.logo {
  font-family: cursive;
  color: rgb(27, 8, 8);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bolder;
}
small {
  font-weight: lighter;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: rgb(231, 206, 141);
  transition-property: 0.5s;
}
body {
  background-image: url("Images /2749702.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
  display: block;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
  width: 350px;
  height: 250px;
}
h1 {
  text-align: center;
  font-family: cursive;
  font-size: 80px;
  font-weight: bold;
  color: rgba(255, 228, 78, 0.582);
}
h2 {
  font-family: cursive;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  font-weight: bold;
  color: rgba(211, 211, 211, 0.938);
}
h3 {
  font-family: cursive;
  text-align: center;
  font-family: cursive;
  font-size: 30px;

  color: rgba(214, 214, 214, 0.938);
}
#deliverylink {
  text-decoration: underline;
  font-family: cursive;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.938);
}

form.example {
  float: right;
  width: 100%;
  background: transparent;
  color: white;
}
form.example button {
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 25px;
  border: 1px solid transparent;
  border-left: none;
  cursor: pointer;
}
a:link {
  color: rgb(255, 255, 255);
}
.column {
  width: 300px;
  height: 300px;
  padding: 5px;
}

.column3 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.column4 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.suits {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 20px;
}

.shirt1 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.shirt2 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.shirt3 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.shirts {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 20px;
}
.tshirt1 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.tshirt2 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.tshirt3 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.tshirts {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 20px;
}
.jacket1 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.jacket2 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.jacket3 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.jackets {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 20px;
}
hr {
  margin-top: 100px;
}
.watch1 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.watch2 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.watch3 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.watches {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 20px;
}
.brace1 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.brace2 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.brace3 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.braces {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 20px;
}

.ring1 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.ring2 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.ring3 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.rings {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 20px;
}
.over {
  text-decoration: underline;
}
.under {
  text-decoration: wavy;
}
p {
  color: rgba(255, 255, 255, 0.966);
}

li {
  margin-left: 25px;
  list-style-type: circle;
  color: rgba(241, 179, 65, 0.671);
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.container img {
  width: auto;
  height: 100%;
}
.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.content {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.form {
  width: 400px;
  height: 420px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  margin-left: 450px;
  transform: translate(-50% -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
}
#contactus {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 60px;
  color: #fff;
  text-align: center;
  margin-bottom: 8%;
}
.form input[type="text"],
.form input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  outline: none;
  height: 30px;
  font-size: 16px;
  opacity: 1;
  color: #ccc;
}
.form input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #bda20880;
}
.form a:hover {
  color: #fff;
  opacity: 1;
}
.bottom-text {
  color: white;
}
.bottom-text a {
  float: right;
}
.bottom-text input {
  width: 10%;
  float: left;
}
.socials {
  cursor: pointer;
  margin-top: 15%;
  text-align: center;
}
.socials a {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 5px;
}
.socials a:nth-child(1) {
  background: #3b5998;
}
.socials a:nth-child(2) {
  background: #55acee;
}
.socials a:nth-child(3) {
  background: #bd081c;
}
.socials a:nth-child(4) {
  background: #0077b5;
}
.socials a i {
  padding: 8px 0;
}
#overlay-area {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
footer {
  margin-top: 38px;
  margin-bottom: 35px;
  font-size: 15px;
  background-color: #bda20880;
}
figcaption {
  color: rgba(200, 255, 0, 0.788);
}
button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgba(200, 255, 0, 0.541);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
}
footer {
  text-align: center;
  font-size: medium;
}
.cartlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  height: 600px;
  margin-top: 10px;
}
.carttable {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 100%;
  border: 1px solid rgb(253, 255, 115);
  text-align: center;
  border-collapse: collapse;
}
.carttable th,
td {
  border-bottom: 1px solid #ddd;
}
.carttable tr:hover {
  background-color: #f5f5f59c;
  opacity: 1;
  transition: 2s;
}
.carttable th {
  background-color: rgba(255, 228, 78, 0.582);
  color: white;
}
mark {
  background-color: #ffffff1f;
  color: rgba(255, 228, 78, 0.582);
}
.content2 {
  border: 1px solid rgb(253, 255, 115);
  text-align: center;
  background-color: rgba(204, 204, 204, 0.267);
  width: 22%;
  border-spacing: 15px;
}
.content2 th {
  background-color: rgba(255, 228, 78, 0.582);
  color: white;
}
.content2 tr {
  padding: 20px;
}
